body {
    background-color: #361999;
    transition: background-color 1s ease;
}


.form {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.button {
    background-color: #FF6495;
    color: white;
    margin-bottom: 10px;
}


