// Specific CSS for your home-page
body {
    background-color: #f4f4f4;
    transition: background-color 1s ease;
}

.title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #FF6495;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    font-weight: bold;
    font-size: 100px;
}

.title1 {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    font-weight: bold;
}


.title2 {
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    font-weight: bold;
    color: #FF6495;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    font-size: 20px;
    color: white;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

a {
    color: #FF6495;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FF6495;
    text-decoration: underline;
}

.title-animate {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 0px;
    color: #FF6495;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    font-weight: bold;
}

:root {
    --animate-duration: 2s;
    --animate-delay: 5s;
}


.hero-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.17;
        width: 100%;
        height: 100%;
    }
}

.title-description {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {
    width: 68%;
}

.panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-violet {
    background-color: rgb(32, 32, 95);
}

.color-blue {
    background-color: #275ed4;
}

.color-purple {
    background-color: #361999;
}
