


.show-container {
  display: flex;
}

.restaurant-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    img {
        position: relative;
        z-index: 0;
        top: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.restaurant-title {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 10%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  color: white;
}


.review-summary{
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

.reviews-container{
  position: relative;
  margin: 1rem;
  max-width: 80rem;
}

.review-data{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: stretch;
}

.mood-match{
    width: 260px;
    display: flex;
    flex-direction: row;
    margin: 0px 0.75rem 1.5rem;
    box-sizing: border-box;
    background: white;
    padding: 1rem;
    border-radius: 0.75rem;
    position: relative;
    cursor: pointer;
    transition: all 200ms ease 0s;
    will-change: transform;
    outline: none;
    align-items: center;
    justify-content: center;


}

.mood-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 3rem;
}

.mood-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mood-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: pink;
    font-size: 28px;

}

.moo
.aggregate-rating{
    width: calc(33.33% - 1.5rem);
    display: flex;
    flex-direction: row;
    margin: 0px 0.75rem 1.5rem;
    box-sizing: border-box;
    background: white;
    padding: 1rem;
    border-radius: 0.75rem;
    position: relative;
    cursor: pointer;
    transition: all 200ms ease 0s;
    will-change: transform;
    outline: none;
}

.total-reviews{
    width: calc(33.33% - 1.5rem);
    display: flex;
    flex-direction: row;
    margin: 0px 0.75rem 1.5rem;
    box-sizing: border-box;
    background: white;
    padding: 1rem;
    border-radius: 0.75rem;
    position: relative;
    cursor: pointer;
    transition: all 200ms ease 0s;
    will-change: transform;
    outline: none;
}

.review-background{
  background-color: white;
  padding-top: 20px;

}

.review_info {
  display: flex;
}

.review-header{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  h3 {
    font-weight: bold;
  }
}

.review {
  padding: 10px;
  margin: 50px;
  width: auto;
  height: auto;
  border: solid, 1px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.review-date {
  opacity: 0.7;
}

.review-text {
  margin-top: 5px;
  opacity: 0.7;
}

.link-menu {
    padding-top: 40px;
    height: 30vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #FF6495;
    background: #361899;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    font-weight: bold;
    font-size: 100px;
}

.link {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    font-size: 20px;
    color: white;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.restaurant-info {
    margin-top: 25px;
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-title {
    background-color: #FF6495;
    padding: 25px;
    color: #361999;
}

.title {
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #FF6495;
    text-align: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.location {
  overflow: hidden;
  height: 80vh;
  width: 80%;
  margin: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location img {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.location h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.location p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.location .location-info {
  padding: 16px;
}
