<div class="hero-container panel" data-color="violet">
    <h1 class="title1">Today, I feel</h1>
    <h1 class="title-animate"><span id="rotate">mood</span></h1>
    <img src="https://source.unsplash.com/vJsj-hgOEG0" alt="">
</div>
<div class="panel" data-color="blue">
    <div class="title-description">
        <h1 class="title" style="font-size:65px">find and curate restaurants using your mood</h1><br><br>
        <div class="description">
            <h4 class="subtitle">choosing a restaurant for the right occasion can be a hassle. tell us what you feel like, and we'll take care of the rest.</h4>
        </div>
    </div>
</div>
<div class="panel" data-color="purple">
    <h1 class="title" style="font-size: 100px">mood food</h1>
    <div class="subtitle"><%= link_to "sign up", "#" %> to see your recommendations</div>
</div>