<div class="restaurant-index">
    <div class="restaurants-container">
        <div class="search-box">
            <%= form_tag restaurants_path, method: :get do %>
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find a restaurant"
                %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
            <div class="filter-button"></div>
        </div>
        <ul>
            <% cache @restaurants do %>
                <%= render @restaurants %>
            <% end %>
        </ul>
    </div>
</div>
