<div class="hero-container panel" data-color="violet">
  <div class="restuarant_card">
    <h1 class="title1"><%=@restaurant.name%></h1>
  <img src= <%restaurant%> alt="">
  </div>
</div>
<div class="panel" data-color="blue">
    <div class="title-description">
        <h1 class="title2"> <%= @restaurant.cuisine%> </h1><br><br>
        <div class="description">
            <h4 class="subtitle">  <%= @restaurant.description %>  </h4>
        </div>
    </div>
</div>
<div class="panel" data-color="purple">
    <h1 class="title">mood food</h1>
    <div class="subtitle"><%= link_to "sign up", new_user_registration_path %> to see your recommendations</div>
</div>

