.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
  width: 80px;
  border-style: 1px solid white;
  // border-color: #FF6495;
  // border-radius: 10px;
  &:hover {
    background-color: white;
  }
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  background: white;
  color: rgb(32, 32, 95);
  border-radius: 20px;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: rgb(32, 32, 95);
    border-radius: 20px;
  }
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  margin-left: 200px;
}

.navbar-search-button {
  border: none;
  color: white;
  padding: 0;
  background: none;
  width: 35px;
  height: 35px;
  font-size: 15px;
  margin-left: 15px;
  background-color: #FF6495;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.3s;
  &:hover {
      opacity: 1;
  }
}

.nav-form-tag {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding-right: 15px;
  padding-left: 15px;
  .form-control {
      border: none;
      padding: 0px;
      width: 100px;
      font-size: 14px;
  }
  .form-control:focus {
      border: none;
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 transparent;
  }
}

.nav-form-tag .edd-head {
  position: relative;
  overflow: hidden;
  transition: box-shadow 200ms;
  background: white;
  font-size: 14px;
}

.nav-form-tag .edd-body {
  font-size: 14px;
}

.avatar {
  cursor: pointer;
}