.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
  width: 80px;
  border-style: 1px solid white;
  // border-color: #FF6495;
  // border-radius: 10px;
  &:hover {
    background-color: white;
  }
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  background: white;
  color: rgb(32, 32, 95);
  border-radius: 20px;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: rgb(32, 32, 95);
    border-radius: 20px;
  }
}
